/*.rbxlx.lock
/*.rbxl.lock
**/.DS_Store
Packages/
**/*.rbx[lm]*
.DS_Store
roblox.yml
roblox.toml
globalTypes.d.lua
**/sourcemap.json
dist/

# Ignore generated documentation
# Generate new documentation via `lune run generate-docs`
mkdocs.yaml
docs/*
!docs/assets

# Ignore mike site files
site
